.table{
     border-style: double;
     width: 550px;
     height: 300px;
     margin-left: 200px;
     border-collapse: collapse;
}
.table thead th{
    border: double;
 }
.line{
    border: double;
}
.line2{
    background: green;
    border: double;
    padding: 10px;
}